{% extends 'base.html.twig'%}

{% block body %}

   <h1> Create a task </h1>

    {{form_start(formTask) }}

   {{form_row(formTask.title, {'attr':{'placeholder':"Title of the task"}})}}

    {{form_row(formTask.category.nom, {'attr':{'placeholder':"Category of the task"}})}}

     {{form_row(formTask.description, {'attr':{'placeholder':"Description of the task"}})}}

      {{form_row(formArticle.image, {'attr':{'placeholder':"url  de l'image"}})}}

   




{{form_end(formArticle)}}

</div>




{% endblock %}