{% extends 'base.html.twig'%}

{% block body %}

   <h1> Create a task </h1>

    {{form_start(formTask) }}

   {{form_row(formTask.title, {'attr':{'placeholder':"Title of the task"}})}}

    {{form_row(form.category)}}

     {{form_row(formArticle.content, {'attr':{'placeholder':"Contenu de l'article"}})}}

      {{form_row(formArticle.image, {'attr':{'placeholder':"url  de l'image"}})}}

   

<button type="submit" class="btn btn-success">
     {% if editMode %}
        
        Enregistrer les modification
         
         {% else %}

     Ajouter l'article
     {% endif %}
     </button>


{{form_end(formArticle)}}

</div>




{% endblock %}