{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}

{% block body %}
    <h1>Tasks by Category</h1>

    <ul>
        {% for category in categories %}
            <li><a href="{{ path('tasks_by_category', {'categoryId': category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>

    {% for task in tasks %}
        <div class="task">
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>
            <!-- Other task details -->
        </div>
    {% endfor %}


<div class="container">
        {% for task in tasks %}
            <div class="task">
                <div class="task-header">
                    <h2 class="task-title">{{ task.title }}</h2>

                </div>
                <div class="task-meta">
                    <span class="task-category">Category: {{task.category.nom}}</span></br>

                    <span class="task-deadline">Due: {{ task.deadline | date('d/m/Y') }}</span>
                  
                <span class="task-user"> </br>
 
             POSTED BY: <strong>{{task.user.nom}}</strong></span>
              
                </div>
                <div class="task-description">
                    {{ task.description }}
                </div>
                <div class="task-actions">
                    <a href="" class="btn btn-success">Edit</a>
                   
                </div>
            </div>
            <a href="{{ path('showTask',{'id' : task.id })}}" class="btn btn-primary">Read More</a>
                <div class="task-checkbox">
                    <input type="checkbox" id="task-{{ task.id }}" class="task-checkbox-input"{% if task.isDone %}checked{% endif %}>
                    <label for="task-{{ task.id }}" class="task-checkbox-label"></label>
                </div>
            </article>
        {% endfor %}
    </section>
    

{% endblock %}
