{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

{{form(form)}}

{% if articles | length == 0 %}
            <h4>Aucun résulat pour votre recherche.</h4>

            {% else %}
               <h3 class="mt-3">Vos résulats de recherche :</h3>
                 
                 {% for article in articles %}
                  <article>

                 
  
      <div class="card " style="background-color:yellow">
              <img src="{{article.image}}" alt=""style="width: 150px;">
      <h2>{{article.title}}  </h2>
      <div class="metadata">Ecrit le {{article.createdAT | date('d/m/Y') }} à {{article.createdAt | date('H:i')}}  dans la  catégorie {{article.category.title}}</div>
       <div class="centent">

         {{article.content | raw}}
           
     <a href="{{path('prog_show',{'id':article.id}) }}" class="btn btn-primary">les commentaires</a>
     </div>
                      {% endfor %}
               {% endif %}


{% endblock %}
