{% extends 'base.html.twig' %}
{% block body %}

  <article>
    
    <h2>{{ task.title }}</h2>
    
    <div class="metadata">{{ task.deadline|date('d/m/y') }}
   
       dans la categorie {{ task.category.nom }}</div>
    <div class="content">
 
      {{ article.content|raw }}
    </div>
  </article>
  <section id="commentaires">
     {% for comment in article.comments %}
       <div class="comment">
            <div class="row">
                  <div class="col-3">
                      {{comment.author}} (<small>{{comment.createdAt |
                       date('d/m/Y à H:i')}}</small)
                  </div>
                  <div class="col">
                       {{comment.content| raw }} 
                   </div>
               </div>
           </div>

          {% endfor %}
          
          </section>
        
{% endblock %}

