{% extends 'base.html.twig'%}

{% block body %}

   <h1> Ajouter une tâche</h1>

    {{form_start(formTask) }}

    {{form_row(formTask.title, {'attr':{'placeholder':"Titre de la tâche"}})}}

     {{form_row(formTask.category, {'attr':{'placeholder':"Categorie de la tâche"}})}}

     {{form_row(formTask.description, {'attr':{'placeholder':"Description  de la tâche"}})}}

     
     
     <button type="submit" class="btn btn-success">
  {% if editMode %}
  Enregistrer les modifications
  {% else %}
  Ajouter la tâche
  {% endif %}
</button>

{{form_end(formTask)}}






{% endblock %}